<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">
<h2>Přidat/změnit cenu</h2>
<form action="/Admin/cenik/edit" th:action="@{/Admin/cenik/edit}" method="POST" th:object="${cenik}">
    <div th:if="${#fields.hasErrors('cena')}" th:errors="*{cena}" class="alert alert-warning" role="alert">
       Chyba!
    </div>
<div class="form-group row">
    <div class="col-sm-2">Nová cena: </div>
    <div class="col-sm-4">
        <input type="hidden" th:field="*{id}">
        <input type="number" th:required="required" th:field="*{cena}">

    </div>
</div>
<div class="form-group row">
    <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Uložit</button>
    </div>
</div>
</form>
</div>