<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">

<h2>Ceník</h2>
    <div th:if="${param.success != null}" class="alert alert-success" role="alert">
        Operace byla úspěšná.
    </div>
<a class="btn btn-primary" href="/Admin/cenik/edit" th:href="@{/Admin/cenik/edit(id=0)}" role="button" sec:authorize="hasAuthority('admin')">Přidat cenu</a>
<table class=" table table-bordered table-hover">
    <thead>
    <tr>
        <th>Cena</th>
        <th sec:authorize="hasAuthority('admin')">Akce</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="x : ${cenik}">
        <td th:text="${x.getCena()}">cena</td>
        <td sec:authorize="hasAuthority('admin')">
            <a class="btn btn-primary" href="/Admin/cenik/edit" th:href="@{/Admin/cenik/edit(id=${x.getId()})}" role="button">Upravit</a>
        </td>
    </tr>
    </tbody>
</table>
</div>

