<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">
    <h2>Změnit heslo</h2>
    <form action="/Admin/changepswd" th:action="@{/Admin/changepswd}" method="POST" th:object="${jidelnaUser}">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-warning" role="alert">
            Chyba!
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Nové heslo: </div>
            <div class="col-sm-4">
                <input type="hidden" th:type="hidden" th:field="*{id}">
                <input type="hidden" th:type="hidden" th:field="*{name}">
                <input type="hidden" th:type="hidden" th:field="*{surname}">
                <input type="hidden" th:type="hidden" th:field="*{username}">
                <input type="hidden" th:type="hidden" th:field="*{role}">
                <input type="hidden" th:type="hidden" th:field="*{kredit}">
                <input type="password" th:type="password" th:required="required" th:field="*{password}">

            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Uložit</button>
            </div>
        </div>
    </form>
</div>