<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.sprinfgramework.org/schema/security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{Admin/layout}"  layout:fragment="content">
    <div th:if="${param.login != null}" class="alert alert-success" role="alert">
        Přihlášení bylo úspěšné.
    </div>
    <div th:if="${param.success != null}" class="alert alert-success" role="alert">
        Operace byla úspěšná.
    </div>
    <p th:text="'Vítejte!'">Vitejte</p>
</div>