<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Jídelní systém</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Jidelni system"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="../static/Content/css/bootstrap.min.css" rel='stylesheet' type='text/css'
          th:href="@{/static/Content/css/bootstrap.min.css}"/>
    <!-- Custom Theme files -->
    <link href="../static/Content/css/style.css" rel='stylesheet' type='text/css'
          th:href="@{/static/Content/css/style.css}"/>
    <link href="../static/Content/css/font-awesome.css" rel="stylesheet"
          th:href="@{/static/Content/css/font-awesome.css}"/>
    <link href="../static/Content/themes/base/jquery-ui.min.css" rel="stylesheet"
          th:href="@{/static/Content/themes/base/jquery-ui.min.css}"/>
    <link href="../static/Content/css/custom.css" rel="stylesheet" th:href="@{/static/Content/css/custom.css}"/>
    <link href="../static/Content/bootstrap-datepicker.min.css" rel="stylesheet"
          th:href="@{/static/Content/bootstrap-datepicker.min.css}"/>
    <!-- Mainly scripts -->
    <script src="../static/Scripts/jquery-3.3.1.min.js" th:src="@{/static/Scripts/jquery-3.3.1.min.js}"></script>
    <script src="../static/Scripts/jquery.unobtrusive-ajax.min.js"
            th:src="@{/static/Scripts/jquery.unobtrusive-ajax.min.js}"></script>
    <script src="../static/Scripts/js/jquery.metisMenu.js" th:src="@{/static/Scripts/js/jquery.metisMenu.js}"></script>
    <!-- Custom and plugin javascript -->
    <script src="../static/Scripts/js/custom.js" th:src="@{/static/Scripts/js/custom.js}"></script>
    <script src="../static/Scripts/js/screenfull.js" th:src="@{/static/Scripts/js/screenfull.js}"></script>
    <script src="../static/Scripts/jquery.validate.min.js" th:src="@{/static/Scripts/jquery.validate.min.js}"></script>
    <script src="../static/Scripts/jquery.validate.unobtrusive.min.js"
            th:src="@{/static/Scripts/jquery.validate.unobtrusive.min.js}"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);
            if (!screenfull.enabled) {
                return false;
            }
            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>
    <!----->
    <!--skycons-icons-->
    <script src="../static/Scripts/js/skycons.js" th:src="@{/static/Scripts/js/skycons.js}"></script>
    <!--//skycons-icons-->
</head>
<body>
<div id="wrapper">
    <!----->
    <nav class="navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="index.html" th:href="@{/Admin/}">Jídelna</a></h1>
        </div>
        <div class=" border-bottom">
            <div class="clearfix">
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li layout:insert="Admin/menu.html">tady je menu</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main">
            <!--content-->
            <div class="content-top">
                <div class="col-md-12 ">
                    <div class="content-top-1">
                        <div class="col-md-auto top-content" layout:fragment="content">
                            <p>Tady bude nejaky obsah!</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<footer>
    <div class="copy">
        <p>Jídelna by Dominik Búzik. Theme: &copy; 2016 Minimal. All Rights Reserved.</p>
    </div>
</footer>
<script src="../static/Scripts/js/bootstrap.min.js" th:src="@{/static/Scripts/js/bootstrap.min.js}"></script>
</body>
</html>