<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--STRAVNICKA CAST !-->
<div sec:authorize="hasAuthority('stravnik')">
<li>
    <a href="/Admin/" th:href="@{/Admin/}" class=" hvr-bounce-to-right"><i class="fa fa-home nav_icon "></i><span class="nav-label">Domů</span> </a>
</li>
<li>
    <a href="/Admin/jidelnicek/index" th:href="@{/Admin/jidelnicek/index}" class=" hvr-bounce-to-right"><i
            class="fa fa-beer nav_icon"></i> <span class="nav-label">Nabídka jídel</span> </a>
</li>
<li>
    <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-list nav_icon"></i> <span class="nav-label">Správa objednávek</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="/Admin/objednavky/index" th:href="@{/Admin/objednavky/index}" class=" hvr-bounce-to-right"><i
                    class="fa fa-calendar nav_icon "></i><span class="nav-label">Mé objednávky</span> </a>
        </li>
        <li><a href="/Admin/objednavky/history" th:href="@{/Admin/objednavky/history}" class=" hvr-bounce-to-right"><i
                class="fa fa-archive nav_icon"></i>Historie objednávek</a></li>
    </ul>
</li>
<li>
    <a href="/Admin/cenik/index" th:href="@{/Admin/cenik/}" class=" hvr-bounce-to-right"><i class="fa fa-money nav_icon"></i> <span class="nav-label">Ceník</span> </a>
</li>
<li>
    <a href="/Admin/kredit/index" th:href="@{/Admin/kredit/}" class=" hvr-bounce-to-right"><i
            class="fa fa-credit-card nav_icon"></i> <span class="nav-label">Kredit</span> </a>
</li>
<li>
    <a href="/Admin/changepswd" th:href="@{/Admin/changepswd}" class=" hvr-bounce-to-right"><i class="fa fa-key nav_icon"></i> <span class="nav-label">Změnit heslo</span> </a>
</li>
<li>
    <a href="/Admin/logout" th:href="@{/Admin/logout}" class=" hvr-bounce-to-right"><i class="fa fa-sign-out nav_icon"></i> <span class="nav-label">Odhlásit</span></a>
</li>
</div>
<!--ADMINSKA CAST !-->
<div sec:authorize="hasAuthority('admin')">
    <li>
        <a href="/Admin/" th:href="@{/Admin/}" class=" hvr-bounce-to-right"><i class="fa fa-home nav_icon "></i><span class="nav-label">Domů</span> </a>
    </li>
    <li>
        <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-list nav_icon"></i> <span class="nav-label">Správa nabídky jídel</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/Admin/jidla/" th:href="@{/Admin/jidla/}" class=" hvr-bounce-to-right"><i class="fa fa-beer nav_icon "></i><span class="nav-label">Jídla</span> </a>
            </li>
            <li><a href="/Admin/jidelnicek/index" th:href="@{/Admin/jidelnicek/index}" class=" hvr-bounce-to-right"><i
                    class="fa fa-check-square-o nav_icon"></i>Jídelníček</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-list nav_icon"></i> <span class="nav-label">Správa objednávek</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/Admin/objednavky/index" th:href="@{/Admin/objednavky/index}" class=" hvr-bounce-to-right"><i
                        class="fa fa-calendar nav_icon "></i><span class="nav-label">Mé objednávky</span> </a>
            </li>
            <li><a href="/Admin/objednavky/history" th:href="@{/Admin/objednavky/history}"
                   class=" hvr-bounce-to-right"><i class="fa fa-archive nav_icon"></i>Historie objednávek</a></li>
        </ul>
    </li>
    <li>
        <a href="/Admin/cenik/index" th:href="@{/Admin/cenik/}" class=" hvr-bounce-to-right"><i class="fa fa-money nav_icon"></i> <span class="nav-label">Ceník</span> </a>
    </li>
    <li>
        <a href="/Admin/sprava/index" th:href="@{/Admin/sprava/index(role='stravnik')}" class=" hvr-bounce-to-right"><i
                class="fa fa-child nav_icon"></i> <span class="nav-label">Správa strávníků</span> </a>
    </li>
    <li>
        <a href="/Admin/sprava/index" th:href="@{/Admin/sprava/index(role='zamestnanec')}" class=" hvr-bounce-to-right"><i
                class="fa fa-child nav_icon"></i> <span class="nav-label">Správa zaměstnanců</span> </a>
    </li>
    <li>
        <a href="/Admin/jidelny/" th:href="@{/Admin/jidelny/}" class=" hvr-bounce-to-right"><i class="fa fa-building nav_icon"></i> <span class="nav-label">Správa jídelen</span> </a>
    </li>
    <li>
        <a href="/Admin/kredit/index" th:href="@{/Admin/kredit/}" class=" hvr-bounce-to-right"><i
                class="fa fa-credit-card nav_icon"></i> <span class="nav-label">Kredit</span> </a>
    </li>
    <li>
        <a href="/Admin/changepswd" th:href="@{/Admin/changepswd}" class=" hvr-bounce-to-right"><i class="fa fa-key nav_icon"></i> <span class="nav-label">Změnit heslo</span> </a>
    </li>
    <li>
        <a href="/Admin/logout" th:href="@{/Admin/logout}" class=" hvr-bounce-to-right"><i class="fa fa-sign-out nav_icon"></i> <span class="nav-label">Odhlásit</span></a>
    </li>
</div>
<!--ZAMESTNANECKA CAST !-->
<div sec:authorize="hasAuthority('zamestnanec')">
<li>
    <a href="/Admin/" th:href="@{/Admin/}" class=" hvr-bounce-to-right"><i class="fa fa-home nav_icon "></i><span class="nav-label">Domů</span> </a>
</li>
<li>
    <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-list nav_icon"></i> <span class="nav-label">Správa nabídky jídel</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="/Admin/jidla/" th:href="@{/Admin/jidla/}" class=" hvr-bounce-to-right"><i class="fa fa-beer nav_icon "></i><span class="nav-label">Jídla</span> </a>
        </li>
        <li><a href="/Admin/jidelnicek/index" th:href="@{/Admin/jidelnicek/index}" class=" hvr-bounce-to-right"><i
                class="fa fa-check-square-o nav_icon"></i>Jídelníček</a></li>
    </ul>
</li>
<li>
    <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-list nav_icon"></i> <span class="nav-label">Správa objednávek</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="/Admin/objednavky/index" th:href="@{/Admin/objednavky/index}" class=" hvr-bounce-to-right"><i
                    class="fa fa-calendar nav_icon "></i><span class="nav-label">Mé objednávky</span> </a>
        </li>
        <li><a href="/Admin/objednavky/history" th:href="@{/Admin/objednavky/history}" class=" hvr-bounce-to-right"><i
                class="fa fa-archive nav_icon"></i>Historie objednávek</a></li>
    </ul>
</li>
    <li>
        <a href="/Admin/cenik/index" th:href="@{/Admin/cenik/}" class=" hvr-bounce-to-right"><i class="fa fa-money nav_icon"></i> <span class="nav-label">Ceník</span> </a>
    </li>
<li>
    <a href="/Admin/sprava/index" th:href="@{/Admin/sprava/index(role='stravnik')}" class="hvr-bounce-to-right"><i
            class="fa fa-child nav_icon"></i> <span class="nav-label">Správa strávníků</span> </a>
</li>
<li>
    <a href="/Admin/jidelnicek/pocty" th:href="@{/Admin/jidelnicek/pocty}" class=" hvr-bounce-to-right"><i
            class="fa fa-calculator nav_icon"></i> <span class="nav-label">Počty jídel</span> </a>
</li>
<li>
    <a href="/Admin/kredit/index" th:href="@{/Admin/kredit/}" class=" hvr-bounce-to-right"><i
            class="fa fa-credit-card nav_icon"></i> <span class="nav-label">Kredit</span> </a>
</li>
<li>
    <a href="/Admin/changepswd" th:href="@{/Admin/changepswd}" class=" hvr-bounce-to-right"><i class="fa fa-key nav_icon"></i> <span class="nav-label">Změnit heslo</span> </a>
</li>
<li>
    <a href="/Admin/logout" th:href="@{/Admin/logout}" class=" hvr-bounce-to-right"><i class="fa fa-sign-out nav_icon"></i> <span class="nav-label">Odhlásit</span></a>
</li>
</div>

</body>
</html>