<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{/layout}"
     layout:fragment="content">

    <h2>Jídelníček</h2>
    <div id="dropdown">
        <div class="col-sm-2">Vyberte jidelnu:</div>
        <div class="col-sm-4">
            <select class="form-control" name="jidelnyDrop" id="jidelnyDrop">
                <option th:value="0"></option>
                <option th:each="x:${jidelny}" th:value="${x.getId()}" th:text="${x.getNazev()}"></option>
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    <ul class="pagination">
        <li class="page-item"
            th:each="i: ${tydny}">
            <button th:text="${i}" th:value="${tydny.indexOf(i)+1}" th:class="btn" id="btnTyden"></button>
        </li>
    </ul>
    <div class="clearfix"></div>
    <div id="resultBlock"></div>

    <script>
        $("#jidelnyDrop").change(function (event) {
            var id = $(this).val();

            var url = '/nabidka/show';
            if (id !== '0') {
                url = '/nabidka/show/id=' + id + "&page=1";
            }
            $("#resultBlock").load(url);
        });
    </script>
    <script>
        $("button").click(function (event) {
            var page = $(this).val();
            var id = document.getElementById("jidelnyDrop").value;
            var url = '/nabidka/show';
            if (id !== '0') {
                url = '/nabidka/show/id=' + id + "&page=" + page;
            }
            $("#resultBlock").load(url);
        });
    </script>
</div>