<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
>
    <div th:fragment="resultsList">
        <div th:unless="${#lists.isEmpty(jidelnicky)}" id="results-block">

            <table class=" table table-bordered table-hover">
                <thead>
                <tr>
                    <th colspan="6">Jídelníček</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th colspan="6" style="text-align: center">Pondělí</th>
                </tr>
                <tr>
                    <th>Číslo nabídky</th>
                    <th>Hlavní chod</th>
                    <th>Polévka</th>
                    <th>Nápoj</th>
                    <th>Cena</th>
                </tr>
                <tr th:each="i : ${#numbers.sequence(0,2)}">
                    <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
                </tr>
                <tr>
                    <th colspan="6" style="text-align: center">Úterý</th>
                </tr>
                <tr>
                    <th>Číslo nabídky</th>
                    <th>Hlavní chod</th>
                    <th>Polévka</th>
                    <th>Nápoj</th>
                    <th>Cena</th>
                </tr>
                <tr th:each="i : ${#numbers.sequence(3,5)}">
                    <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
                </tr>
                <tr>
                    <th colspan="6" style="text-align: center">Středa</th>
                </tr>
                <tr>
                    <th>Číslo nabídky</th>
                    <th>Hlavní chod</th>
                    <th>Polévka</th>
                    <th>Nápoj</th>
                    <th>Cena</th>
                </tr>
                <tr th:each="i : ${#numbers.sequence(6,8)}">
                    <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
                </tr>
                <tr>
                    <th colspan="6" style="text-align: center">Čtvrtek</th>
                </tr>
                <tr>
                    <th>Číslo nabídky</th>
                    <th>Hlavní chod</th>
                    <th>Polévka</th>
                    <th>Nápoj</th>
                    <th>Cena</th>
                </tr>
                <tr th:each="i : ${#numbers.sequence(9,11)}">
                    <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
                </tr>
                <tr>
                    <th colspan="6" style="text-align: center">Pátek</th>
                </tr>
                <tr>
                    <th>Číslo nabídky</th>
                    <th>Hlavní chod</th>
                    <th>Polévka</th>
                    <th>Nápoj</th>
                    <th>Cena</th>
                </tr>
                <tr th:each="i : ${#numbers.sequence(12,14)}">
                    <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div th:if="${#lists.isEmpty(jidelnicky)}">
            <p>Jídelníček je nedostupný, kontaktujte správce.</p>
        </div>
    </div>
</div>