<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">
    <h2>Přidat/upravit jídlo</h2>
    <form action="/Admin/jidla/edit" th:action="@{/Admin/jidla/edit}" method="POST" th:object="${jidlo}">
        <div class="form-group row">
            <div class="col-sm-2">Název: </div>
            <div class="col-sm-4">
                <input type="hidden" th:field="*{id}">
                <input type="text" th:required="required" th:field="*{nazev}">
                <div th:if="${#fields.hasErrors('nazev')}" th:errors="*{nazev}" class="alert alert-warning" role="alert">
                    Chyba!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Polévka: </div>
            <div class="col-sm-4">
                <input type="text" th:required="required" th:field="*{polevka}">
                <div th:if="${#fields.hasErrors('polevka')}" th:errors="*{polevka}" class="alert alert-warning" role="alert">
                    Chyba!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Nápoj: </div>
            <div class="col-sm-4">
                <input type="text" th:required="required" th:field="*{napoj}">
                <div th:if="${#fields.hasErrors('napoj')}" th:errors="*{napoj}" class="alert alert-warning" role="alert">
                    Chyba!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Cena: </div>
            <div class="col-sm-4">
                <select class="form-control" th:field="*{cenik.id}">
                    <option th:each="x:${ceny}" th:value="${x.id}" th:text="${x.cena}"></option>
                </select>
                </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Uložit</button>
            </div>
        </div>
    </form>
</div>