<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">

    <h2>Jídla</h2>
    <div th:if="${param.success != null}" class="alert alert-success" role="alert">
        Operace byla úspěšná.
    </div>
    <a class="btn btn-primary" href="/Admin/jidla/edit" th:href="@{/Admin/jidla/edit(id=0)}" role="button"
       sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">Přidat jídlo</a>
    <table class=" table table-bordered table-hover">
        <thead>
        <tr>
            <th>Hlavní chod</th>
            <th>Polévka</th>
            <th>Nápoj</th>
            <th>Cena</th>
            <th sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">Akce</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="x : ${jidla}">
            <td th:text="${x.getNazev()}">Nazev</td>
            <td th:text="${x.getPolevka()}">Polevka</td>
            <td th:text="${x.getNapoj()}">Napoj</td>
            <td th:text="${x.getCenik().getCena()}">Cena</td>
            <td sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">
                <a class="btn btn-primary" href="/Admin/jidla/edit" th:href="@{/Admin/jidla/edit(id=${x.getId()})}"
                   role="button">Upravit</a>
                <a class="btn btn-danger" th:text="Smazat" th:href="@{/Admin/jidla/delete(id=${x.getId()})}"
                   th:attr="onclick='return confirm(\'' + 'Opravdu chcete vymazat '+${x.getNazev()+'?'} + '\');'">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
    <ul class="pagination">
        <li class="page-item" th:classappend="${i==currentPage} ? active" th:if="${pages>1}"
            th:each="i: ${#numbers.sequence(1, pages)}"><a th:href="@{/Admin/jidla/index(size=${5}, page=${i})}"
                                                           th:text="${i}" th:class="page-link"></a></li>
    </ul>

</div>