<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">
    <h2>Vytvořit nový záznam</h2>
    <form action="/Admin/sprava/create" th:action="@{/Admin/sprava/create}" method="POST" th:object="${user}">
        <div class="form-group row">
            <div class="col-sm-2">Jméno:</div>
            <div class="col-sm-4 form-group">
                <!--HTML helper zapis-->
                <input type="text" th:required="required" th:field="*{name}">
                <!--vypis chyby pri spatne zadanem udaji-->
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-warning" role="alert">
                    Chyba!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Příjmení</div>
            <div class="col-sm-4 form-group">
                <input type="text" th:required="required" th:field="*{surname}">
                <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="alert alert-warning"
                     role="alert">
                    Chyba!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Uživatelské jméno:</div>
            <div class="col-sm-4 form-group">
                <input type="text" th:required="required" th:field="*{username}">
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-warning"
                     role="alert">
                    Chyba!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Heslo:</div>
            <div class="col-sm-4 form-group">
                <input type="password" th:required="required" th:field="*{password}">
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-warning"
                     role="alert">
                    Chyba!
                </div>
            </div>
        </div>
        <div class="form-group row" th:if="${lstRole.size()}>1">
            <div class="col-sm-2">Role:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" th:field="*{role.id}" th:if="${lstRole.size()}>1">
                    <option th:each="x:${lstRole}" th:value="${x.id}" th:text="${x.name}"></option>
                </select>
                <input th:if="${lstRole.isEmpty()}" type="hidden" th:field="*{role}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Uložit</button>
            </div>
        </div>
    </form>
</div>