<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">
    <h2 th:if="${user.getRole().getName()}=='stravnik'">Úprava strávníka</h2>
    <h2 th:if="${user.getRole().getName()}=='zamestnanec'">Úprava zaměstnance</h2>
    <form action="/edit" th:action="@{/Admin/sprava/edit}" method="POST" th:object="${user}">
        <div class="form-group row">
            <div class="col-sm-2">Jméno:</div>
            <div class="col-sm-4 form-group">
                <!--HTML helper zapis-->
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{role}">
                <input type="text" th:required="required" th:field="*{name}">
                <!--vypis chyby pri spatne zadanem udaji-->
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-warning" role="alert">
                    Chyba!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Příjmení</div>
            <div class="col-sm-4 form-group">
                <input type="text" th:required="required" th:field="*{surname}">
                <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="alert alert-warning"
                     role="alert">
                    Chyba!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Uživatelské jméno:</div>
            <div class="col-sm-4 form-group">
                <input type="text" th:required="required" th:field="*{username}">
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-warning"
                     role="alert">
                    Chyba!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Heslo:</div>
            <div class="col-sm-4 form-group">
                <input type="password" th:field="*{password}">
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-warning"
                     role="alert">
                    Chyba!
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Uložit změny</button>
            </div>
        </div>
    </form>
</div>