<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">

    <h2 th:if="${role}=='stravnik'">Správa strávníků</h2>
    <h2 th:if="${role}=='zamestnanec'">Správa zaměstnanců</h2>
    <div th:if="${param.success != null}" class="alert alert-success" role="alert">
        Operace byla úspěšná.
    </div>
    <a class="btn btn-primary" href="/Admin/sprava/edit" th:href="@{/Admin/sprava/create}" role="button"
       sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">Přidat osobu</a>
    <table class=" table table-bordered table-hover">
        <thead>
        <tr>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Login</th>
            <th>Role</th>
            <th sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">Akce</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="x : ${users}">
            <td th:text="${x.getName()}">jmeno</td>
            <td th:text="${x.getSurname()}">prijmeni</td>
            <td th:text="${x.getUsername()}">username</td>
            <td th:text="${x.getRole().getName()}">role</td>
            <td sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">
                <a class="btn btn-primary" href="/Admin/sprava/edit" th:href="@{/Admin/sprava/edit(id=${x.getId()})}"
                   role="button">Upravit</a>
                <a class="btn btn-danger" th:text="Smazat"
                   th:href="@{/Admin/sprava/delete(id=${x.getId()}, role=${role})}"
                   th:attr="onclick='return confirm(\'' + 'Opravdu chcete vymazat '+${x.getName()+' '+x.getSurname()+'?'} + '\');'">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
    <ul class="pagination">
        <li class="page-item" th:classappend="${i==currentPage} ? active" th:if="${pages>1}"
            th:each="i: ${#numbers.sequence(1, pages)}"><a
                th:href="@{/Admin/sprava/index(size=${5}, page=${i}, role=${role})}"
                th:text="${i}" th:class="page-link"></a></li>
    </ul>

</div>