<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">
    <h2>Přidat/upravit jídelnu</h2>
    <form action="/Admin/jidelny/edit" th:action="@{/Admin/jidelny/edit}" method="POST" th:object="${jidelna}">
        <div th:if="${#fields.hasErrors('nazev')}" th:errors="*{nazev}" class="alert alert-warning" role="alert">
            Chyba!
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Nový název:</div>
            <div class="col-sm-4">
                <input type="hidden" th:field="*{id}">
                <input type="text" th:required="required" th:field="*{nazev}">

            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Uložit</button>
            </div>
        </div>
    </form>
</div>