<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">
    <h2>Vytvořit jídelníček</h2>
    <form action="/Admin/jidelnicek/create" th:action="@{/Admin/jidelnicek/create}" method="POST" th:object="${volby}">
        <div class="form-group row">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{page}">
            <h3>Pondělí</h3>
            <div class="col-sm-2">1. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v1}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">2. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v2}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">3. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v3}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <h3>Úterý</h3>
            <div class="col-sm-2">1. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v4}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">2. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v5}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">3. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v6}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <h3>Středa</h3>
            <div class="col-sm-2">1. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v7}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">2. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v8}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">3. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v9}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <h3>Čtvrtek</h3>
            <div class="col-sm-2">1. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v10}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">2. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v11}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">3. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v12}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <h3>Pátek</h3>
            <div class="col-sm-2">1. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v13}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">2. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v14}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">3. volba:</div>
            <div class="col-sm-4 form-group">
                <select class="form-control" name="jidlaDrop" th:field="*{v15}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}"
                            th:text="${x.getNazev()}+', '+${x.getPolevka()}"></option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Uložit</button>
    </form>
</div>