<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">
    <h2>Upravit nabídku</h2>
    <form action="/Admin/jidelnicek/edit" th:action="@{/Admin/jidelnicek/edit}" method="POST" th:object="${jidelnicek}">
        <div class="form-group row">
            <div class="col-sm-2">Jídlo:</div>
            <div class="col-sm-4">
                <input type="hidden" th:field="*{id}">
                <select class="form-control" name="jidelnyDrop" id="jidelnyDrop" th:field="*{jidlo}">
                    <option th:each="x:${jidla}" th:value="${x.getId()}" th:text="${x.getNazev()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Uložit</button>
            </div>
        </div>
    </form>
</div>