<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">

    <h2>Jídelníček</h2>
    <div id="dropdown">
        <div class="col-sm-2">Vyberte jídelnu:</div>
        <div class="col-sm-4">
            <select class="form-control" name="jidelnyDrop" id="jidelnyDrop">
                <option th:value="0"></option>
                <option th:each="x:${jidelny}" th:value="${x.getId()}" th:text="${x.getNazev()}"></option>
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    <ul class="pagination">
        <li class="page-item"
            th:each="i: ${tydny}" sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">
            <button th:text="${i}" th:value="${tydny.indexOf(i)+1}" th:class="btn" id="btnTyden"></button>
        </li>
        <li class="page-item"
            sec:authorize="hasAuthority('stravnik')">
            <button th:text="${tydny[0]}" th:value="1" th:class="btn"></button>
            <button th:text="${tydny[1]}" th:value="2" th:class="btn"></button>
        </li>
    </ul>
    <div class="clearfix"></div>
    <div id="resultBlock"></div>

    <script>
        $("#jidelnyDrop").change(function (event) {
            var id = $(this).val();

            var url = '/Admin/jidelnicek/show';
            if (id !== '0') {
                url = '/Admin/jidelnicek/show/id=' + id + "&page=1";
            }
            $("#resultBlock").load(url);
        });
    </script>
    <script>
        $("button").click(function (event) {
            var page = $(this).val();
            var id = document.getElementById("jidelnyDrop").value;
            var url = '/Admin/jidelnicek/show';
            if (id !== '0') {
                url = '/Admin/jidelnicek/show/id=' + id + "&page=" + page;
            }
            $("#resultBlock").load(url);
        });
    </script>


</div>