<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
>
    <div th:fragment="resultsList">
        <div th:unless="${#lists.isEmpty(jidelnicky)}" id="results-block">

            <table class=" table table-bordered table-hover">
                <thead>
                <tr>
                    <th colspan="6">Jídelníček</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th colspan="6" style="text-align: center">Pondělí</th>
                </tr>
                <tr>
                    <th>Číslo nabídky</th>
                    <th>Hlavní chod</th>
                    <th>Polévka</th>
                    <th>Nápoj</th>
                    <th>Cena</th>
                    <th sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">Akce</th>
                </tr>
                <tr th:each="i : ${#numbers.sequence(0,2)}">
                    <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
                    <td sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">
                        <a class="btn btn-primary" href="/Admin/jidelnicek/edit"
                           th:href="@{/Admin/jidelnicek/edit(id=${jidelnicky[i].getId()})}"
                           role="button">Upravit</a>
                    </td>
                </tr>
                <tr>
                    <th colspan="6" style="text-align: center">Úterý</th>
                </tr>
                <tr>
                    <th>Číslo nabídky</th>
                    <th>Hlavní chod</th>
                    <th>Polévka</th>
                    <th>Nápoj</th>
                    <th>Cena</th>
                    <th sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">Akce</th>
                </tr>
                <tr th:each="i : ${#numbers.sequence(3,5)}">
                    <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
                    <td sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">
                        <a class="btn btn-primary" href="/Admin/jidelnicek/edit"
                           th:href="@{/Admin/jidelnicek/edit(id=${jidelnicky[i].getId()})}"
                           role="button">Upravit</a>
                    </td>
                </tr>
                <tr>
                    <th colspan="6" style="text-align: center">Středa</th>
                </tr>
                <tr>
                    <th>Číslo nabídky</th>
                    <th>Hlavní chod</th>
                    <th>Polévka</th>
                    <th>Nápoj</th>
                    <th>Cena</th>
                    <th sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">Akce</th>
                </tr>
                <tr th:each="i : ${#numbers.sequence(6,8)}">
                    <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
                    <td sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">
                        <a class="btn btn-primary" href="/Admin/jidelnicek/edit"
                           th:href="@{/Admin/jidelnicek/edit(id=${jidelnicky[i].getId()})}"
                           role="button">Upravit</a>
                    </td>
                </tr>
                <tr>
                    <th colspan="6" style="text-align: center">Čtvrtek</th>
                </tr>
                <tr>
                    <th>Číslo nabídky</th>
                    <th>Hlavní chod</th>
                    <th>Polévka</th>
                    <th>Nápoj</th>
                    <th>Cena</th>
                    <th sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">Akce</th>
                </tr>
                <tr th:each="i : ${#numbers.sequence(9,11)}">
                    <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
                    <td sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">
                        <a class="btn btn-primary" href="/Admin/jidelnicek/edit"
                           th:href="@{/Admin/jidelnicek/edit(id=${jidelnicky[i].getId()})}"
                           role="button">Upravit</a>
                    </td>
                </tr>
                <tr>
                    <th colspan="6" style="text-align: center">Pátek</th>
                </tr>
                <tr>
                    <th>Číslo nabídky</th>
                    <th>Hlavní chod</th>
                    <th>Polévka</th>
                    <th>Nápoj</th>
                    <th>Cena</th>
                    <th sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">Akce</th>
                </tr>
                <tr th:each="i : ${#numbers.sequence(12,14)}">
                    <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                    <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
                    <td sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">
                        <a class="btn btn-primary" href="/Admin/jidelnicek/edit"
                           th:href="@{/Admin/jidelnicek/edit(id=${jidelnicky[i].getId()})}"
                           role="button">Upravit</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div th:if="${#lists.isEmpty(jidelnicky)}" sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">
            <a class="btn btn-primary" href="/Admin/jidla/edit"
               th:href="@{/Admin/jidelnicek/randomJidelnicek(id=${idJidelny}, page=${currentPage})}" role="button"
            >Náhodně vygenerovat</a>
            <a class="btn btn-primary" href="/Admin/jidla/create"
               th:href="@{/Admin/jidelnicek/create(id=${idJidelny}, page=${currentPage})}" role="button"
            >Vytvořit jídelníček</a>
        </div>
        <div th:if="${#lists.isEmpty(jidelnicky)}">Jídelníček na tento týden není dostupný.</div>
    </div>
</div>