<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
>
    <div th:fragment="resultsList">
        <table class="table table-bordered table-hover">
            <tbody>
            <tr>
                <th>Den</th>
                <th>Volba 1</th>
                <th>Volba 2</th>
                <th>Volba 3</th>
            </tr>
            <tr>
                <th>Pondělí</th>
                <td th:each="i: ${#numbers.sequence(0,2)}" th:text="${pocty[0][i]}"></td>
            </tr>
            <tr>
                <th>Úterý</th>
                <td th:each="i: ${#numbers.sequence(0,2)}" th:text="${pocty[1][i]}"></td>
            </tr>
            <tr>
                <th>Středa</th>
                <td th:each="i: ${#numbers.sequence(0,2)}" th:text="${pocty[2][i]}"></td>
            </tr>
            <tr>
                <th>Čtvrtek</th>
                <td th:each="i: ${#numbers.sequence(0,2)}" th:text="${pocty[3][i]}"></td>
            </tr>
            <tr>
                <th>Pátek</th>
                <td th:each="i: ${#numbers.sequence(0,2)}" th:text="${pocty[4][i]}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>