<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Přihlášení</title>
</head>
<body>
<div layout:fragment="content">
    <form action="/login" th:action="@{/login}" method="POST">
        <div th:if="${error != null}" class="alert alert-danger">
            <span th:text="${error}">Text</span>
        </div>
        <h1 class="h4 mb-3 font-weight-normal">Přihlášení</h1>
        <label for="inputEmail" class="sr-only">Login</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="User Name"
               name="username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control"
               placeholder="Password" name="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit</button>
    </form>

</div>
</body>
</html>