<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">

    <h2>Správa kreditu</h2>
    <div th:if="${param.success != null}" class="alert alert-success" role="alert">
        Operace byla úspěšná.
    </div>
    <div th:if="${param.error != null}" class="alert alert-danger" role="alert">
        Neplatná částka!
    </div>
    <p th:text="'Váš kredit je: '+${kredit}"></p>
    <form action="/Admin/kredit/add" th:action="@{/Admin/kredit/add}" method="POST">
        <div class="form-group row">
            <div class="col-sm-2">Částka:</div>
            <div class="col-sm-4">
                <input type="number" th:min="1" name="castka"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Dobít kredit</button>
            </div>
        </div>
    </form>


</div>