<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">
    <h2>Nová objednávka</h2>
    <form action="/Admin/objednavky/create" th:action="@{/Admin/objednavky/create}" method="POST"
          th:object="${objednavka}">
        <input type="hidden" th:field="*{jidelna}">
        <input type="hidden" th:field="*{tydenDatum}">
        <input type="hidden" th:field="*{id}">
        <table class=" table table-bordered table-hover">
            <thead>
            <tr>
                <th colspan="6">Jídelníček</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th colspan="6" style="text-align: center">Pondělí</th>
            </tr>
            <tr>
                <th></th>
                <th>Číslo nabídky</th>
                <th>Hlavní chod</th>
                <th>Polévka</th>
                <th>Nápoj</th>
                <th>Cena</th>
            </tr>
            <tr th:each="i : ${#numbers.sequence(0,2)}">
                <td><input type="radio" th:type="radio" th:field="*{pondeli.id}" th:value="${jidelnicky[i].getId()}"/>
                </td>
                <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
            </tr>
            <tr>
                <td><input type="radio" th:field="*{pondeli}" th:value="null"/></td>
                <td colspan="5">Neobjednávat na tento den.</td>
            </tr>
            <tr>
                <th colspan="6" style="text-align: center">Úterý</th>
            </tr>
            <tr>
                <th></th>
                <th>Číslo nabídky</th>
                <th>Hlavní chod</th>
                <th>Polévka</th>
                <th>Nápoj</th>
                <th>Cena</th>
                <th sec:authorize="hasAnyAuthority('admin', 'zamestnanec')">Akce</th>
            </tr>
            <tr th:each="i : ${#numbers.sequence(3,5)}">
                <td><input type="radio" th:field="*{utery.id}" th:value="${jidelnicky[i].getId()}"/></td>
                <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
            </tr>
            <tr>
                <td><input type="radio" th:field="*{utery}" th:value="null"/></td>
                <td colspan="5">Neobjednávat na tento den.</td>
            </tr>
            <tr>
                <th colspan="6" style="text-align: center">Středa</th>
            </tr>
            <tr>
                <th></th>
                <th>Číslo nabídky</th>
                <th>Hlavní chod</th>
                <th>Polévka</th>
                <th>Nápoj</th>
                <th>Cena</th>
            </tr>
            <tr th:each="i : ${#numbers.sequence(6,8)}">
                <td><input type="radio" th:field="*{streda.id}" th:value="${jidelnicky[i].getId()}"/></td>
                <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
            </tr>
            <tr>
                <td><input type="radio" th:field="*{streda}" th:value="null"/></td>
                <td colspan="5">Neobjednávat na tento den.</td>
            </tr>
            <tr>
                <th colspan="6" style="text-align: center">Čtvrtek</th>
            </tr>
            <tr>
                <th></th>
                <th>Číslo nabídky</th>
                <th>Hlavní chod</th>
                <th>Polévka</th>
                <th>Nápoj</th>
                <th>Cena</th>
            </tr>
            <tr th:each="i : ${#numbers.sequence(9,11)}">
                <td><input type="radio" th:field="*{ctvrtek.id}" th:value="${jidelnicky[i].getId()}"/></td>
                <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
            </tr>
            <tr>
                <td><input type="radio" th:field="*{ctvrtek}" th:value="null"/></td>
                <td colspan="5">Neobjednávat na tento den.</td>
            </tr>
            <tr>
                <th colspan="6" style="text-align: center">Pátek</th>
            </tr>
            <tr>
                <th></th>
                <th>Číslo nabídky</th>
                <th>Hlavní chod</th>
                <th>Polévka</th>
                <th>Nápoj</th>
                <th>Cena</th>
            </tr>
            <tr th:each="i : ${#numbers.sequence(12,14)}">
                <td><input type="radio" th:field="*{patek.id}" th:value="${jidelnicky[i].getId()}"/></td>
                <td th:text="${jidelnicky[i].getCisloNabidky()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getNazev()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getPolevka()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getNapoj()}"></td>
                <td th:text="${jidelnicky[i].getJidlo().getCenik().getCena()}"></td>
            </tr>
            <tr>
                <td><input type="radio" th:field="*{patek}" th:value="null"/></td>
                <td colspan="5">Neobjednávat na tento den.</td>
            </tr>
            </tbody>
        </table>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Uložit</button>
            </div>
        </div>
    </form>
</div>