<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">
    <div>
        <h2 th:text="'Objednávka z týdne od '+${objednavka.getObjednavka().getTydenDatum().toString()}"></h2>
        <table class=" table table-bordered table-hover">
            <thead>
            <tr>
                <th>Den</th>
                <th>Číslo nabídky</th>
                <th>Hlavní chod</th>
                <th>Polévka</th>
                <th>Nápoj</th>
                <th>Cena</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${objednavka?.getObjednavka()?.getPondeli() ne null}">
                <th>Pondělí</th>
                <td th:text="${objednavka.getObjednavka().getPondeli().getCisloNabidky()}"></td>
                <td th:text="${objednavka.getObjednavka().getPondeli().getJidlo().getNazev()}"></td>
                <td th:text="${objednavka.getObjednavka().getPondeli().getJidlo().getPolevka()}"></td>
                <td th:text="${objednavka.getObjednavka().getPondeli().getJidlo().getNapoj()}"></td>
                <td th:text="${objednavka.getObjednavka().getPondeli().getJidlo().getCenik().getCena()}"></td>
            </tr>
            <tr th:if="${objednavka?.getObjednavka()?.getPondeli() eq null}">
                <td>Pondělí</td>
                <td colspan="5">Na tento den nemáte objednáno.</td>
            </tr>
            <tr th:if="${objednavka?.getObjednavka()?.getUtery() ne null}">
                <th>Úterý</th>
                <td th:text="${objednavka.getObjednavka().getUtery().getCisloNabidky()}"></td>
                <td th:text="${objednavka.getObjednavka().getUtery().getJidlo().getNazev()}"></td>
                <td th:text="${objednavka.getObjednavka().getUtery().getJidlo().getPolevka()}"></td>
                <td th:text="${objednavka.getObjednavka().getUtery().getJidlo().getNapoj()}"></td>
                <td th:text="${objednavka.getObjednavka().getUtery().getJidlo().getCenik().getCena()}"></td>
            </tr>
            <tr th:if="${objednavka?.getObjednavka()?.getUtery() eq null}">
                <th>Úterý</th>
                <td colspan="5">Na tento den nemáte objednáno.</td>
            </tr>
            <tr th:if="${objednavka?.getObjednavka()?.getStreda() ne null}">
                <th>Středa</th>
                <td th:text="${objednavka.getObjednavka().getStreda().getCisloNabidky()}"></td>
                <td th:text="${objednavka.getObjednavka().getStreda().getJidlo().getNazev()}"></td>
                <td th:text="${objednavka.getObjednavka().getStreda().getJidlo().getPolevka()}"></td>
                <td th:text="${objednavka.getObjednavka().getStreda().getJidlo().getNapoj()}"></td>
                <td th:text="${objednavka.getObjednavka().getStreda().getJidlo().getCenik().getCena()}"></td>
            </tr>
            <tr th:if="${objednavka?.getObjednavka()?.getStreda() eq null}">
                <th>Středa</th>
                <td colspan="5">Na tento den nemáte objednáno.</td>
            </tr>
            <tr th:if="${objednavka?.getObjednavka()?.getCtvrtek() ne null}">
                <th>Čtvrtek</th>
                <td th:text="${objednavka.getObjednavka().getCtvrtek().getCisloNabidky()}"></td>
                <td th:text="${objednavka.getObjednavka().getCtvrtek().getJidlo().getNazev()}"></td>
                <td th:text="${objednavka.getObjednavka().getCtvrtek().getJidlo().getPolevka()}"></td>
                <td th:text="${objednavka.getObjednavka().getCtvrtek().getJidlo().getNapoj()}"></td>
                <td th:text="${objednavka.getObjednavka().getCtvrtek().getJidlo().getCenik().getCena()}"></td>
            </tr>
            <tr th:if="${objednavka?.getObjednavka()?.getCtvrtek() eq null}">
                <th>Čtvrtek</th>
                <td colspan="5">Na tento den nemáte objednáno.</td>
            </tr>
            <tr th:if="${objednavka?.getObjednavka()?.getPatek() ne null}">
                <th>Pátek</th>
                <td th:text="${objednavka.getObjednavka().getPatek().getCisloNabidky()}"></td>
                <td th:text="${objednavka.getObjednavka().getPatek().getJidlo().getNazev()}"></td>
                <td th:text="${objednavka.getObjednavka().getPatek().getJidlo().getPolevka()}"></td>
                <td th:text="${objednavka.getObjednavka().getPatek().getJidlo().getNapoj()}"></td>
                <td th:text="${objednavka.getObjednavka().getPatek().getJidlo().getCenik().getCena()}"></td>
            </tr>
            <tr th:if="${objednavka?.getObjednavka()?.getPatek() eq null}">
                <th>Pátek</th>
                <td colspan="5">Na tento den nemáte objednáno.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>