<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">

    <h2>Historie objednávek</h2>
    <table class=" table table-bordered table-hover">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Jídelna</th>
            <th>Cena</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="x : ${objednavky}">
            <td th:text="${x.getObjednavka().getTydenDatum()}">jmeno</td>
            <td th:text="${x.getObjednavka().getJidelna().getNazev()}">prijmeni</td>
            <td th:text="${x.getObjednavka().getTotal()}">username</td>
            <td><a href="/Admin/objednavky/detail" th:href="@{/Admin/objednavky/detail(id=${x.getId()})}">Detail</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
    <ul class="pagination">
        <li class="page-item" th:classappend="${i==currentPage} ? active" th:if="${pages>1}"
            th:each="i: ${#numbers.sequence(1, pages)}"><a
                th:href="@{/Admin/history(size=${5}, page=${i})}"
                th:text="${i}" th:class="page-link"></a></li>
    </ul>

</div>