<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{Admin/layout}"
     layout:fragment="content">

    <h2>Objednávky</h2>
    <div th:if="${param.errorInsufficientFunds != null}" class="alert alert-danger" role="alert">
        Operace neproběhla! Nedostatek peněz na účtu.
    </div>
    <div th:if="${param.success != null}" class="alert alert-success" role="alert">
        Operace byla úspěšná.
    </div>
    <div id="dropdown">
        <div class="col-sm-2">Vyberte jídelnu:</div>
        <div class="col-sm-4">
            <select class="form-control" name="jidelnyDrop" id="jidelnyDrop">
                <option th:value="0"></option>
                <option th:each="x:${jidelny}" th:value="${x.getId()}" th:text="${x.getNazev()}"></option>
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    <ul class="pagination">
        <li class="page-item">
            <button th:text="${tydny[0]}" th:value="1" th:class="btn"></button>
            <button th:text="${tydny[1]}" th:value="2" th:class="btn"></button>
        </li>
    </ul>
    <div class="clearfix"></div>
    <div id="resultBlock"></div>

    <script>
        $("#jidelnyDrop").change(function (event) {
            var id = $(this).val();

            var url = '/Admin/objednavky/show';
            if (id !== '0') {
                url = '/Admin/objednavky/show/id=' + id + "&page=1";
            }
            $("#resultBlock").load(url);
        });
    </script>
    <script>
        $("button").click(function (event) {
            var page = $(this).val();
            var id = document.getElementById("jidelnyDrop").value;
            var url = '/Admin/objednavky/show';
            if (id !== '0') {
                url = '/Admin/objednavky/show/id=' + id + "&page=" + page;
            }
            $("#resultBlock").load(url);
        });
    </script>


</div>