<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.sprinfgramework.org/schema/security"
>
    <div th:fragment="resultsList">
        <div th:if="${objednavka.getObjednavka()}" id="results-block">
            <div th:if="${canCreate}">
                <a class="btn btn-primary" href="/Admin/objednavky/create"
                   th:href="@{/Admin/objednavky/create(objId=${objednavka.getId()}, id=${idJidelny}, page=${currentPage})}"
                   role="button">Upravit</a>
                <a class="btn btn-danger" href="/Admin/objednavky/delete"
                   th:href="@{/Admin/objednavky/delete(idObj=${objednavka.getId()})}"
                   th:attr="onclick='return confirm(\'' + 'Opravdu chcete vymazat tuto objednávku?' + '\');'"
                   role="button">Smazat</a>
            </div>
            <table class=" table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Den</th>
                    <th>Číslo nabídky</th>
                    <th>Hlavní chod</th>
                    <th>Polévka</th>
                    <th>Nápoj</th>
                    <th>Cena</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${objednavka?.getObjednavka()?.getPondeli() ne null}">
                    <th>Pondělí</th>
                    <td th:text="${objednavka.getObjednavka().getPondeli().getCisloNabidky()}"></td>
                    <td th:text="${objednavka.getObjednavka().getPondeli().getJidlo().getNazev()}"></td>
                    <td th:text="${objednavka.getObjednavka().getPondeli().getJidlo().getPolevka()}"></td>
                    <td th:text="${objednavka.getObjednavka().getPondeli().getJidlo().getNapoj()}"></td>
                    <td th:text="${objednavka.getObjednavka().getPondeli().getJidlo().getCenik().getCena()}"></td>
                </tr>
                <tr th:if="${objednavka?.getObjednavka()?.getPondeli() eq null}">
                    <td>Pondělí</td>
                    <td colspan="5">Na tento den nemáte objednáno.</td>
                </tr>
                <tr th:if="${objednavka?.getObjednavka()?.getUtery() ne null}">
                    <th>Úterý</th>
                    <td th:text="${objednavka.getObjednavka().getUtery().getCisloNabidky()}"></td>
                    <td th:text="${objednavka.getObjednavka().getUtery().getJidlo().getNazev()}"></td>
                    <td th:text="${objednavka.getObjednavka().getUtery().getJidlo().getPolevka()}"></td>
                    <td th:text="${objednavka.getObjednavka().getUtery().getJidlo().getNapoj()}"></td>
                    <td th:text="${objednavka.getObjednavka().getUtery().getJidlo().getCenik().getCena()}"></td>
                </tr>
                <tr th:if="${objednavka?.getObjednavka()?.getUtery() eq null}">
                    <th>Úterý</th>
                    <td colspan="5">Na tento den nemáte objednáno.</td>
                </tr>
                <tr th:if="${objednavka?.getObjednavka()?.getStreda() ne null}">
                    <th>Středa</th>
                    <td th:text="${objednavka.getObjednavka().getStreda().getCisloNabidky()}"></td>
                    <td th:text="${objednavka.getObjednavka().getStreda().getJidlo().getNazev()}"></td>
                    <td th:text="${objednavka.getObjednavka().getStreda().getJidlo().getPolevka()}"></td>
                    <td th:text="${objednavka.getObjednavka().getStreda().getJidlo().getNapoj()}"></td>
                    <td th:text="${objednavka.getObjednavka().getStreda().getJidlo().getCenik().getCena()}"></td>
                </tr>
                <tr th:if="${objednavka?.getObjednavka()?.getStreda() eq null}">
                    <th>Středa</th>
                    <td colspan="5">Na tento den nemáte objednáno.</td>
                </tr>
                <tr th:if="${objednavka?.getObjednavka()?.getCtvrtek() ne null}">
                    <th>Čtvrtek</th>
                    <td th:text="${objednavka.getObjednavka().getCtvrtek().getCisloNabidky()}"></td>
                    <td th:text="${objednavka.getObjednavka().getCtvrtek().getJidlo().getNazev()}"></td>
                    <td th:text="${objednavka.getObjednavka().getCtvrtek().getJidlo().getPolevka()}"></td>
                    <td th:text="${objednavka.getObjednavka().getCtvrtek().getJidlo().getNapoj()}"></td>
                    <td th:text="${objednavka.getObjednavka().getCtvrtek().getJidlo().getCenik().getCena()}"></td>
                </tr>
                <tr th:if="${objednavka?.getObjednavka()?.getCtvrtek() eq null}">
                    <th>Čtvrtek</th>
                    <td colspan="5">Na tento den nemáte objednáno.</td>
                </tr>
                <tr th:if="${objednavka?.getObjednavka()?.getPatek() ne null}">
                    <th>Pátek</th>
                    <td th:text="${objednavka.getObjednavka().getPatek().getCisloNabidky()}"></td>
                    <td th:text="${objednavka.getObjednavka().getPatek().getJidlo().getNazev()}"></td>
                    <td th:text="${objednavka.getObjednavka().getPatek().getJidlo().getPolevka()}"></td>
                    <td th:text="${objednavka.getObjednavka().getPatek().getJidlo().getNapoj()}"></td>
                    <td th:text="${objednavka.getObjednavka().getPatek().getJidlo().getCenik().getCena()}"></td>
                </tr>
                <tr th:if="${objednavka?.getObjednavka()?.getPatek() eq null}">
                    <th>Pátek</th>
                    <td colspan="5">Na tento den nemáte objednáno.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:unless="${objednavka.getObjednavka()}">Není k dispozici.
            <a class="btn btn-primary" href="/Admin/objednavky/create" th:if="${canCreate}"
               th:href="@{/Admin/objednavky/create(id=${idJidelny}, page=${currentPage})}" role="button">Vytvořit novou
                objednávku?</a>
        </div>
    </div>
</div>